.amongus-img-1 > img,
.amongus-img-2 > img,
.amongus-img-3 > img,
.amongus-img-1,
.amongus-img-2,
.amongus-img-3 {
    width: 200px;
    height: 200px;
}

.amongus-img-1:hover,
.amongus-img-2:hover,
.amongus-img-3:hover {
    transform: translate(50px, 0px);
}
